.slider-area {
  &.style-1 {
    position: relative;

    .te-single-slider-wrapper {
      background-repeat: no-repeat;
      background-position: center right;
      background-color: $gray-100;

      @include rmaxwd(1399) {
        background-image: unset !important;
      }
    }
    .te-single-slider {
      position: relative;
        
      .te-slider-overlay {
        left: 30%;
      }
      .te-slider-container {
        display: flex;
        padding: 120px 0;
        gap: 30px;

        @include sm {
          flex-direction: column-reverse;
          padding: 80px 0;
          text-align: center;
        }
        @include md {
          padding: 100px 0;
          align-items: center;
        }
        .te-slider-column {
          width: 50%;
          flex-grow: 1;

          @include sm {
            width: 100%;
          }
        }
      }
      .te-slider-content-wrapper {
        .te-slider-content {
          .te-slider-btn-wrapper {
            @include sm {
              justify-content: center;
            }
            .te-theme-btn {
              background-color: $blue-color;
              color: $white;

              &:hover {
                background-color: $orange-color;
                color: $black;
              }
            }
            .te-call-btn {
              .te-icon {
                color: $blue-color;
              }
            }
          }
          .te-slider-title {
            font-size: 82px;
            font-weight: 500;
            line-height: 96.76px;
            letter-spacing: -1px;

            @include sm {
              font-size: 28px;
              line-height: 42px;
            }


            @include md {
              font-size: 32px;
              line-height: 52px;
            }
            @include lg {
              font-size: 62px;
              line-height: 80px;
            }
          }
        }
      }
    }
    .te-slider-wrapper {
      .container {
        position: relative;
      }

      .te-slider-image {
        position: relative;
        z-index: 2;
        margin-top: inherit;
        animation: MoveLeftRight 2s linear infinite alternate;
        text-align: right;
        margin-right: -200px;

        @include rmaxwd(1399) {
          margin-right: 0;
        }

        @include sm {
          width: 350px;
          margin: 0 auto;
        }
        @include md {
          margin-right: 0;
        }
        .te-slider-image-inner {
          display: inline-block;
          text-align: right;
        }
      }
    }

  }
}