.te-team-card {
  &.style-2 { 
    padding: 20px;
    background-color: $gray-100;
    border-radius: 5px;

    .image {
      border-radius: 5px;
    }
    .te-content-wrapper {
      position: unset;
      visibility: visible;
      opacity: 1;
      background: transparent;
      transform: unset;
      
      .content {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
        position: unset;

        .title {
          color: $gray-900;
        }
        .desc {
          color: $gray-800;
        }
      }
      .social {
        a {
          border: 1px solid $gray-200;
          background-color: transparent;
          
          &:hover {
            background-color: $blue-color;
            border-color: $blue-color;
            color: $white;
            @include transition;
          }
        }
      }
    }
  }
}
